/* General reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS variables */

:root {
  /* CSS HSL */
  --tiffany-blue: #98d2c1;
  --tiffan-blue-darker: #71c1a9;
  --apricot: #f5c4a8;
  --apricot-darker: #f0a97f;
  --columbia-blue: #bfd6e8;
  --columbia-blue-darker: #96bcd9;
  --grey: #888;
  --grey-light: #eee;
  --ivory: hsla(69, 100%, 96%, 1);
  --delft-blue: #1e3050ff;
  --prussian-blue: #003153;
  --black: #414a4c;
  --red: #ff3800;

  --arylide-yellow: hsla(51, 84%, 66%, 1);
  --thistle: hsla(263, 52%, 88%, 1);
  --peach: hsla(29, 89%, 78%, 1);
  --non-photo-blue: hsla(192, 58%, 75%, 1);
  --thistle-2: hsla(300, 28%, 83%, 1);
  --light-green: hsla(102, 54%, 72%, 1);
  --apricot-2: hsla(18, 84%, 80%, 1);

  --ash-gray: hsla(137, 17%, 80%, 1);
  --columbia-blue-2: hsla(207, 34%, 79%, 1);
  --french-gray: hsla(243, 23%, 82%, 1);
  --fairy-tale: hsla(331, 77%, 88%, 1);
  --rowHeight: 3.6rem;
}

/* Global styles */
html {
  font-size: 62.5%; /* 1rem = 10px; */
}

body {
  background-color: var(--ivory);
  color: var(--black);
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0px;
  min-height: 100vh;
}

/* Container styles */

.aim-tracker__container {
  display: flex;
  flex-direction: column;
  max-width: 180rem;
  width: 98%;
  margin: 3.2rem auto;
  border: 1px solid #ccc;
}

/* Header styles */

.aim-tracker__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem;
}

.aim-tracker__title {
  padding: 1.2rem;
}
.aim-tracker__description {
  color: #555;
}

/* Tracker styles */

.aim-tracker__tracker {
  display: grid;
  grid-template-columns: minmax(30%, 1fr) minmax(40%, 2fr) minmax(30%, 1fr);
  padding: 3.2rem 1.2rem;
}

/* Column styles */
.aim-tracker__column {
  padding: 2rem;
  border-radius: 5px;
}
.aim-tracker__column-title {
  text-align: center;
  padding: 1.2rem;
}

/* Aim column styles */

.aim-tracker__column--aims {
  background-color: var(--tiffany-blue);
  display: flex;
  flex-direction: column;
  padding-right: 0;
}

.aim-tracker__aim-label-wrapper,
.aim-tracker__aim-wrapper,
.aim-tracker__aim {
  display: flex;
}

.aim-tracker__aim-label,
.aim-tracker__aim {
  width: 60%;
}
.aim-tracker__interval-label,
.aim-tracker__interval {
  width: 30%;
}

.aim-tracker__aim-label,
.aim-tracker__interval-label {
  height: var(--rowHeight);
  padding-bottom: 0.5rem;
  color: #888;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
}
.aim-tracker__aim,
.aim-tracker__interval {
  color: #999;
  height: var(--rowHeight);
  padding: 1rem 0.5rem;
  cursor: pointer;
  border: 1px solid #eee;
}

.aim-tracker__aim-wrapper:not(:last-child) {
  margin-bottom: 1rem;
}
.aim-tracker__interval {
  border-left: none;
}

.aim-tracker__aim-arrow-wrapper {
  width: 10%;
  display: flex;
  align-items: center;
}
.aim-tracker__aim-arrow {
  color: #eee;
  font-size: 2.4rem;
}

.aim-tracker__aim-wrapper:hover .aim-tracker__aim,
.aim-tracker__aim-wrapper:hover .aim-tracker__interval {
  color: #ccc;
  background-color: var(--tiffan-blue-darker);
}

.aim-tracker__aim:hover .aim-tracker__delete-btn {
  display: block;
}

/* Log columen styles */
.aim-tracker__column--log {
  background-color: var(--apricot);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.aim-tracker__month-nav--prev,
.aim-tracker__month-nav--next {
  cursor: pointer;
  display: inline-block;
  padding: 0 1rem;
}

.aim-tracker__log-container {
  display: flex;
  align-items: center;
}

.aim-tracker__log-list-wrapper {
  overflow-x: hidden;
  flex: 1;
}

.aim-tracker__label-list {
  width: 100%;
  
  
  justify-content: flex-start;
  display: flex;
  align-items: flex-end;
}

.aim-tracker__day-label {
  font-size: 1.2rem;
  color: #888;
  font-weight: 300;
  width: calc((100% - 0.2rem) / 14);
  height: var(--rowHeight);
  padding-bottom: 0.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.aim-tracker__check-row {
  display: flex;
  margin-bottom: 1rem;
}

.aim-tracker__check-field {
  width: calc((100% - 0.2rem) / 14);
  flex-shrink: 0;
  height: var(--rowHeight);
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.aim-tracker__check-field:last-child {
  border-right: 1px solid #eee;
}

.aim-tracker__check-field:hover {
  background-color: var(--apricot-darker);
}

/* Review column styles */
.aim-tracker__column--review {
  background-color: var(--columbia-blue);
}
.aim-tracker__review-label {
  height: var(--rowHeight);
  padding-bottom: 0.5rem;
  color: #888;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.aim-tracker__aim-review {
  color: #999;
  width: 100%;
  height: var(--rowHeight);
  padding: 1rem 0.5rem;
  border: 1px solid #eee;
  cursor: pointer;
}

.aim-tracker__aim-review-wrapper:not(:last-child) {
  margin-bottom: 1rem;
}

.aim-tracker__aim-review:hover {
  color: #ccc;
  background-color: var(--columbia-blue-darker);
}

/* Button styles */

.aim-tracker__arrow {
  border: none;
  background-color: transparent;
  color: #888;
  font-size: 2.4rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.aim-tracker__arrow--left {
  padding-right: 0.8rem;
}

.aim-tracker__arrow--right {
  padding-left: 0.8rem;
}

.aim-tracker__arrow:hover {
  transform: scale(1.3);
}

.aim-tracker__add-aim-btn {
  font-size: 2.4rem;
  color: var(--delft-blue);
  background-color: var(--ivory);
  border: 2px solid var(--delft-blue);
  border-radius: 100%;
  padding: 1.8rem;
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.aim-tracker__add-aim-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.aim-tracker__arrow {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.aim-tracker__log-container:hover .aim-tracker__arrow {
  opacity: 1;
  visibility: visible;
}
.aim-tracker__delete-btn {
  display: none;
  margin-left: auto;
  color: var(--red);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.aim-tracker__delete-btn:hover {
  transform: scale(1.1);
}

[data-checked = "true"] {
  background-color: lightslategray;
}